
<footer class="foot">

<ul>
<li>
<h3>关于我们</h3>
<p>
idealist旨在打造国内最大的公益聚合平台。秉持着“关心他人，活着爱着”的理念，我们认为通过交换和分享的过程，能够把爱越滚越大，让世界充满互助精神。以爱助爱，传播爱的正能量。</p>

</li>
<li>
<h3>关注我们</h3>
<iframe width="100%" height="86" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=86&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=3460821014&verifier=3208ef20&colors=d6f3f7,373737,666666,0082cb,ecfbfd&dpc=1"></iframe>
</li>

<li>
<h3>订阅信息</h3>
<p>订阅我们，让更多的爱分享传递出去！</p>
<form action="" method="post">
<input type="text" class="email_text">
<input type="submit" value="我要订阅!" class="email_sub">
</form>


</li>

<li>
<h3>联系我们</h3>
<p class="email_us">
Email：
<a href="#">idealist@ngochina.org</a>
</p>

</li>




</ul>

 

</footer>
