<header class="h_top">
  <div class="h_content middle">
    <p class="login"> <a href="#">登陆</a>&nbsp; | &nbsp;<a href="#">注册</a> </p>
    <p class="Slogan">以爱助爱，传播爱的正能量，打造国内最大的公益聚合平台</p>
  </div>
</header>
<div class="nav_box">
<div class="middle nav_contet">
  <h1> <img src="/assets/logo.jpg" alt="idealist"> </h1>
  <nav>
    <ul>
      <li><a href="#" style="color:#e53b51" >公益资讯</a></li>
      <li><a href="#" style="color:#8360a8" >公益招聘</a></li>
      <li><a href="#" style="color:#ffb365" >公益活动</a></li>
      <li><a href="#" style="color:#5dbae9" >联系我们</a></li>
    </ul>
  </nav>
  <div class="search_box">
    <form>
      <input type="text" class="search_text" value="搜索"   >
      <input type="submit" class="seach_sub" value="">
    </form>
  </div>
</div>
</div>

<div class="content middle">
<div class="content_left">
<section class="banner">
   <div class="banner_img">
    <img src="/assets/banner.jpg" width="396" height="288" alt=" ">
   </div>
    <div class="banner_list">
       <h2><a href="#">公益资讯</a></h2>
        <ul>
          <li><a href="#">阅读的生意：对个人免费靠企业</a></li>
           <li><a href="#">阅读的生意：对个人免费靠企业</a></li>
            <li><a href="#">阅读的生意：对个人免费靠企业</a></li>
             <li><a href="#">阅读的生意：对个人免费靠企业</a></li>
              <li><a href="#">阅读的生意：对个人免费靠企业</a></li>
               <li><a href="#">阅读的生意：对个人免费靠企业</a></li>
                <li><a href="#">阅读的生意：对个人免费靠企业</a></li>
        
        </ul>
    </div>

</section>

<section  class="gy_Activity">
<header>
<h2><a href="#">公益活动</a></h2>
</header>

<ul>
<li>
<div class="AC_img"><a href="#">
<img src="/assets/hd_img.jpg" width="180" height="132" alt="公益活动"></a>
</div>
<div class="AC_info">
<h3><a href="#">送衣送温暖活动--招募志愿者 </a><span>报名中</span></h3>
<dl>
<dt>活动时间: </dt> <dd> 02月20日 星期四 09:00至06月30日 星期一12:00</dd>
<dt>活动地点：</dt> <dd>陕西省渭南市</dd>
<dt>活动简介：</dt> <dd>现向白水周边地区招募志愿者数名，有爱心、有意向的朋友，可以打电话或通过QQ联系，欢迎您们的加入！我们的联系方式...</dd>
<dt>活动发起：</dt> <dd>渭南市白水助残志愿者协会</dd>
<dt>报名截止：</dt> <dd>2月20日 星期四 09:00</dd>
</dl>
</div>
</li>

<li>
<div class="AC_img"><a href="#">
<img src="/assets/hd_img.jpg" width="180" height="132" alt="公益活动"></a>
</div>
<div class="AC_info">
<h3><a href="#">送衣送温暖活动--招募志愿者 </a><span>报名中</span></h3>
<dl>
<dt>活动时间: </dt> <dd> 02月20日 星期四 09:00至06月30日 星期一12:00</dd>
<dt>活动地点：</dt> <dd>陕西省渭南市</dd>
<dt>活动简介：</dt> <dd>现向白水周边地区招募志愿者数名，有爱心、有意向的朋友，可以打电话或通过QQ联系，欢迎您们的加入！我们的联系方式...</dd>
<dt>活动发起：</dt> <dd>渭南市白水助残志愿者协会</dd>
<dt>报名截止：</dt> <dd>2月20日 星期四 09:00</dd>
</dl>
</div>
</li>


<li>
<div class="AC_img"><a href="#">
<img src="/assets/hd_img.jpg" width="180" height="132" alt="公益活动"></a>
</div>
<div class="AC_info">
<h3><a href="#">送衣送温暖活动--招募志愿者 </a><span>报名中</span></h3>
<dl>
<dt>活动时间: </dt> <dd> 02月20日 星期四 09:00至06月30日 星期一12:00</dd>
<dt>活动地点：</dt> <dd>陕西省渭南市</dd>
<dt>活动简介：</dt> <dd>现向白水周边地区招募志愿者数名，有爱心、有意向的朋友，可以打电话或通过QQ联系，欢迎您们的加入！我们的联系方式...</dd>
<dt>活动发起：</dt> <dd>渭南市白水助残志愿者协会</dd>
<dt>报名截止：</dt> <dd>2月20日 星期四 09:00</dd>
</dl>
</div>
</li>

<li>
<div class="AC_img"><a href="#">
<img src="/assets/hd_img.jpg" width="180" height="132" alt="公益活动"></a>
</div>
<div class="AC_info">
<h3><a href="#">送衣送温暖活动--招募志愿者 </a><span>报名中</span></h3>
<dl>
<dt>活动时间: </dt> <dd> 02月20日 星期四 09:00至06月30日 星期一12:00</dd>
<dt>活动地点：</dt> <dd>陕西省渭南市</dd>
<dt>活动简介：</dt> <dd>现向白水周边地区招募志愿者数名，有爱心、有意向的朋友，可以打电话或通过QQ联系，欢迎您们的加入！我们的联系方式...</dd>
<dt>活动发起：</dt> <dd>渭南市白水助残志愿者协会</dd>
<dt>报名截止：</dt> <dd>2月20日 星期四 09:00</dd>
</dl>
</div>
</li>
</ul>
<footer>
<a href="#">更多内容>></a></footer>
</section>

<section  class="gy_Activity gy_ZP">
<header>
<h2><a href="#">公益招聘</a></h2>
</header>

<ul>
<li>
<div class="AC_img"><a href="#">
<img src="/assets/hd_img.jpg" width="180" height="132" alt="公益活动"></a>
</div>
<article class="ZP_info">
<h3><a href="#">送21世纪教育沙龙通知：“他们”如何渡过最难就业季</a></h3>
<time>02/14 10:06 更新</time>
<p>
2013年7月3日14：00，基金会中心网、救助儿童会联合举办"企业-职业教育对接：适应市场需求的流动青少年培养机制"圆桌论坛。
</p>

<p class="ZP_times">阅读次数196次</p>
</article>


</li>



</ul>
<footer>
<a href="#">更多内容>></a></footer>
</section>

</div>

<div class="content_right">
<div class="wx_img">
<img src="/assets/公益－fianl_11.jpg" width="322" height="166" alt="微信">

</div>

<div class="xl_weib">
<iframe width="100%" height="200" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=200&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=3460821014&verifier=3208ef20&dpc=1"></iframe>
</div>

<aside class="as_c">
<h2><a href="#">热门活动</a></h2>
<ul>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>

</ul>
</aside>

<aside class="as_c">
<h2 style="background:#ffa640"><a href="#">热门招聘</a></h2>
<ul>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>

</ul>
</aside>

<aside class="as_c">
<h2 style=" background:#8360a8"><a href="#">猜猜你喜欢</a></h2>
<ul>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>
<li><a href="#">公益的商业进化萌芽 三家“社会企业”样本分析</a></li>

</ul>
</aside>

</div>
</div>
