
.p-data-wrap{width: 350px;  border: 1px solid; border-color:#C6C6C6 #EEEEEE #EEE #C6C6C6; background-color: #F9F9F9;padding:4px 4px 0 4px;
	text-align: left; position: relative; zoom:1; font-size: 12px;}

.p-data-wrap ul,.p-data-wrap li{ margin: 0px; padding: 0px; list-style: none;}
.p-data-wrap a{ color: #333; text-decoration: none;}
.p-data-wrap a:hover{ color: #333;}
.p-data-wrap:after{content:".";display:block;visibility:hidden;height:0;clear:both;}

.p-data-wrap .ms-txt-component{ background:none; width: 50px; border: none; outline: none;}
.p-data-wrap .txt-box-component{ position: relative; z-index: 2; padding: 4px 5px 0px 0px; margin-right: 15px; }
.p-data-wrap .ms-wrap-component {
	width:300px;
	border:1px solid;
	border-color:#C6C6C6 #EEEEEE #EEE #C6C6C6;
	background:#F9F9F9;
	padding:4px 4px 0 4px;
	overflow:hidden;
}

.p-data-wrap .ms-btn-component {
	position: absolute;
	width:16px;
	height:16px;
	cursor:pointer;
	right: 8px; 
	top: 8px;
	background:url(/assets/btn.png ) 0px 0px no-repeat;
	z-index: 111;
}
.p-data-wrap .ms-btn-component:hover {
	background-position:-42px 0px;
}

.p-data-wrap .ms-txt-component {
	border:none;
	padding:0;
	height:20px;
	line-height:20px;
	font-size:12px;
	display:inline-block;
	width:60px;
	margin:0 0 4px 5px;
	white-space:nowrap;
	word-wrap:normal;
	background:transparent;
	vertical-align:middle;
	color: #999;
	float: none;
}
.p-data-wrap .ms-txt-component:focus {
	outline:none;
}


.p-data-wrap .ms-selected-item {
	height:20px;
	line-height:20px;
	_line-height:normal;
	display:inline-block;
	white-space:nowrap;
	background:transparent url(/assets/pickpad.gif) no-repeat left top;
	margin:0 5px 4px 2px;
	padding-left:8px;
	cursor:default;
	font-size:12px;
	vertical-align:middle;
	text-decoration:none;
	color:#1357A2;
}
.p-data-wrap .ms-selected-item .delete-component {
	background:url(/assets/delete.gif) no-repeat 0 -2px;
	display:inline-block;
	height:20px;
	width:20px;
	text-indent:-99999px;
	margin-left:6px;
	background:transparent url(/assets/pickpad.gif) no-repeat right top;
	cursor:pointer;
}
.p-data-wrap .ms-selected-item:hover {
	background-position:left bottom;
	text-decoration:none;
	color:#333;
}
.p-data-wrap .ms-selected-item:hover .delete-component {
	background-position:right bottom;
}
.p-data-wrap .ms-disabled .ms-selected-item:hover {
	background-position:left top;
	text-decoration:none;
	color:#1357A2;
}
.p-data-wrap .ms-disabled .ms-selected-item:hover .delete-component {
	background-position:right top;
	cursor:default;
}

.ms-error-component{width: 200px; height: 28px; line-height: 28px; color: #999; border: 1px solid #ccc; text-align: left; background: #f6f6f6; position: absolute;z-index: 101; font-size: 12px; z-index: 10008; padding-left: 10px; overflow: hidden;}
.ms-ok-component{background: #daeaf2; border: 1px solid #ccc; position: absolute; width: 150px; z-index: 10008;}
.ms-ok-component .ms-list-component li{height: 28px; line-height: 28px; padding-left: 8px;  border-bottom: 1px solid #daeaf2; background: #fff;}
.ms-ok-component .ms-list-component li.active{background: #daeaf2}
.ms-ok-component ul, .ms-ok-component li{margin: 0px;  padding: 0px; list-style: none; text-align: left; font-size: 12px;}
.ms-ok-component ul a{ color: #333; text-decoration: none;}
.ms-ok-component ul a:hover{ color: #333;}

/*选择下拉框*/
.ms-pick{ border: 1px solid #ccc; position: absolute; width: 400px; left: 400px; top: 100px; background: #fff; z-index: 10002; text-align:left; color: #1688D9; display: none; font-size: 12px;}
.ms-pick .clearfix{zoom:1}
.ms-pick .clearfix:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.ms-pick ul,.ms-pick li{ margin: 0px; padding: 0px; list-style: none;}

.ms-pick .h-tab .tab-menu-component{float: left; padding: 0 13px; border-right: 1px solid #ccc; cursor: pointer;}
.ms-pick .h-tab .tab-menu-component.active{ font-weight: bold;}
.ms-pick .w-h-tab-component{border-bottom: 1px solid #ccc; position:relative; height: 25px; line-height: 25px; }
.ms-pick .w-h-tab-component .close-component{ position: absolute; right: 5px; top: 5px; width: 13px; height: 13px; overflow: hidden; text-indent: -9999em; cursor: pointer; display: block; background: 0 0 url("/assets/close.gif");}
.ms-pick .w-h-tab-component .close-component:hover{background-position: right 0;}


.ms-pick .c-tab .tab-con-component {padding: 5px 15px 12px; width: 370px; }
.ms-pick .c-tab .tab-con-component .ms-cb-component{display: inline-block; width: 88px;margin-top: 5px; }
.ms-pick .c-tab .tab-con-component .ms-cb-component input{ position:relative; *position: static; top: 2px; margin: 3px 3px 0 0px; display: inline;}

.ms-pick .c-tab .tab-con-component.tab-con-width{width: 540px;}
.ms-pick .c-tab .tab-con-component.tab-con-width .ms-h3-component{padding-top:5px; font-weight: bold; color: #333;}
.ms-pick .c-tab .tab-con-component.tab-con-width .ms-h3-component.ms-mt10{padding-top: 10px;}

.ms-pick .c-tab .tab-con-component.tab-con-width .fold-head-component span{display: inline-block; height: 24px; width: 78px; line-height: 24px;padding: 1px 0 0 6px;}
.ms-pick .c-tab .tab-con-component.tab-con-width .fold-head-component span label{display: inline-block;  padding-right: 12px;  cursor: pointer; background: right -32px no-repeat url("/assets/select.gif") ;}

.ms-pick .c-tab .tab-con-component.tab-con-width .fold-head-component span.active{background: #daeaf2;}
.ms-pick .c-tab .tab-con-component.tab-con-width .fold-head-component span.active label{ background-position: right 3px;}
.ms-pick .c-tab .tab-con-component.tab-con-width .fold-con-component{background: #daeaf2; color: #333;}

.ms-pick .c-tab .tab-con-component.tab-con-width .fold-con-component .fold-con-out{padding-left: 10px; padding-bottom: 10px; }
